.navbar {
  padding: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 1000;
  /* background-color: rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(10px);
  width: 100%;
}

.navbar::after {
  position: absolute;
  content: "";
  width: 70%;
  border: 1px solid #000;
  top: 100px;
}

.navbarLink {
  margin: 0 10px;
  font-size: 1.12rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.hr {
  width: 60%;
}

.navbarLogin {
  padding: 6px 12px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .navbarLinkContainer {
    display: none;
  }

  .navbarLogin {
    background-color: transparent;
    color: #000;
    border-radius: 0px;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .navbarLink {
    /* margin: 0 5px; */
    padding: 10px;
    border-bottom: 1px solid #000;
  }

  .hamburgerMenu {
    display: unset;
  }

  .showMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #000;
    z-index: 1000;
  }
}
